<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="name">
      <ul id= "stuff"class="stuff">
      <li class="stuffLi"><img class="pfp" src="/uploads/<%= user.pfp %>" alt="Profile Picture" /></li>
      <li class="stuffLi"><h2 class="username"><%= user.username %></h2></li>
      </ul>
    </div>

    <div id="editButton">
      <a href="/user/<%= user.id %>/edit">
        <button>Edit profile</button>
      </a>
    </div>

    <% if(user.role ==='teacher') { %>
    <a href="/teacher"
      ><%=students.length%> <%if(students.length !==1) {%> students <%} else {%>
      student <% } %>
    </a>
    <% } %>
    <h3>Posts</h3>

<div class="grid">
  <% user.posts.forEach((post) => { %>
    <div class="card">
      <a href="/posts/<%= post._id %>">
        <img
          class="card-img-top"
          src="<%= post.image.replace(/^public/, '') %>"
          alt="Post Image"
        />
        <p class="card-text"><%= post.quote %></p>
      </a>
    </div>
  <% }) %>
</div>

</div>

  </body>
</html>
