<a href="/posts/new">new</a>
<a href="/posts/all">explore</a>
<a href="/yearbook">yearbook</a>

<a href=""></a>
<br />
<h3>show page</h3>
<img src="<%= post.image.replace(/^public/, '') %>" alt="Post Image" />

<p><%= post.quote%></p>

<% console.log('role of user', roleOfUser) %>
<% if(roleOfUser==='teacher'){ %>
<a href="/yearbook">
  <button>approve</button>
</a>
<form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
  <button>reject</button>
</form>

<%}%>
<a href="/posts/<%= post._id %>/edit">Edit</a>

<form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
