<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style-showpost.css" />
    <link rel="icon" href="/logos/icon.png" type="image/x-icon" />
    <title>post</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <div class="header">Post details</div>
      <div class="user-info">
        <a href="http://localhost:3000/user/<%=postedById._id %>/profile">
          <img
            src="<%=`/uploads/${pfpOfPoster}`%>"
            alt="Profile Picture"
            class="profile-pic"
          />
        </a>
        <div>
          <a
            href="http://localhost:3000/user/<%=postedById._id %>/profile"
            class="username"
          >
            posted by <%= postedByName %>
          </a>
        </div>
      </div>

      <img
        src="<%= post.image.replace(/^public/, '') %>"
        alt="Post Image"
        class="post-image"
      />

      <div class="post-quote"><%= post.quote %></div>

      <div class="buttons-section">
        <% if(roleOfUser === 'teacher'){ %>
        <div class="teacher-buttons">
          <form 
            action="/yearbook/<%= post._id %>"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="approve-btn">
            approve
            </button>
          </form>

          <form
            action="/posts/<%= post._id %>?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="reject-btn">
              reject
            </button>
          </form>
        </div>
        <% } %>

        <div class="user-actions">
          <a href="/posts/<%= post._id %>/edit" class="edit-link"
            >Edit post</a
          >

          <form
            action="/posts/<%= post._id %>?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="delete-btn">delete</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
